:root{
  --laurel-green: #A5C195;
  --stormcloud: #517163;
  --asparagus: #3B5847;
}
p,h1,h2,h3,h4,h5{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav{
  position: sticky;
  width: 100%;
  height: 200px;
  background-color: var(--laurel-green);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo{
  margin-left: 50px;
}
.logo-image{
  display: flex;
  flex-direction: row;
}
.players-wrapper p,
.version-wrapper p{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.2em;
  color: var(--asparagus);
}
.version-wrapper{
  align-self: flex-end;
}
.blob {
  margin-right: 10px;
}
.links{
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar li{float:left;}

.navbar li:not(:last-child){
  margin-right: 20px;
}
.navbar ul:last-child{
margin-right: 60px;
}

.navbar li a{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
  color: var(--asparagus);
  font-size: xx-large;
}

.link {
  display: inline-block;
  position: relative;
  color: var(--asparagus);
}

.link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 5px;
  bottom: -5px;
  left: 0;
  background-color: var(--asparagus);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hero{
  background-image:url(../img/hero1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: row;
}

.hero-left{
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.hero-left > img:first-child{
  max-width: 100%;
  max-height: 100%;
  margin-top: 10%;
}
#join-button{
  position: relative;
  z-index: 3;
  width: 250px;
  bottom: 180px;
  height: auto;
  cursor: pointer;
}
.hero-right{
  width: 50%;
}

.about{
  background-color: white;
  padding: 35px 20px;
  display: flex;
  flex-direction: row;
}
.about-left{width: 50%;}
.about-left h2, .about-left p{color: var(--asparagus);}
.about-left h2{text-align: center; font-size: 4em; font-weight: 100;}
.about-left p {text-align: left; font-weight: 500; font-size: 1.5em;}
.socials {display: flex;flex-direction: row;justify-content: center;margin-top: 30px;}
.socials img{width: 70px;}

.about-right{width: 50%; display: flex; justify-content: center;}
.about-right > img{max-width: 400px;}


.action{
  background-color: var(--laurel-green);
  display: flex;
  flex-direction: row;
  height: 400px;
}
.action-left {width: 50%; display: flex; flex-direction: column; justify-content: center; }
.action-left h2, .action-left h3, .action-left p{color: white; text-align: center;}
.action-left h2{font-size: 4em; font-weight: 100;}
.action-left h3{font-size: 2em; font-weight: 100;}
.action-left p{font-size: 1.5em; font-weight: 100;}
.action-right{width: 50%; display: flex; justify-content: center;}
.action-right img{max-width: 400px;}
.img-holder{text-align: center;}

.sponsors{
  background-color: var(--stormcloud);
  height: 480px;
  padding-top: 30px;
}
.sponsors h2, .sponsors h3, .sponsors p{color: white; text-align: center;}
.sponsors h2{font-size: 4em; font-weight: 100;}
.sponsors h3{font-size: 2em; font-weight: 100;}

.sponsor-items{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 60px;
}

.sponsor-1{
  text-align: center;
}

.sponsor-items img {
  width: 100px;
}

.disabled{
  display: none;
}

.topvoters{
  background-color: var(--stormcloud);
  height: 50vh;
}

.space{
  background-image: url(../img/endvoid.png);
  height: 50vh;
}


@media (max-width: 1200px){
  #logob{
    display:none;
  }
}

@media (max-width: 1000px){
  .action-right{display:none;}
  .action-left{width: 100%;}
  .about-right{display: none;}
  .about-left{width: 100%;}
  .server-about{margin-top: 20px;}
  .navbar li a{font-size: x-large}
  .hero-right {display: none;}
  .hero-left {width: 100%}
  .logo-image{flex-direction: column;}
  .version-wrapper{align-self: flex-start;}
}

@media (max-width: 700px){
  .navbar ul:last-child{margin-right: auto;}
}
@media (max-width: 645px){
  nav{flex-direction: column;}
  .logo{margin: auto;}
  .logo-image{align-items: center;}
  .version-wrapper{align-self: center;}
}
@media (max-width: 425px){
  .navbar li a{font-size: large}
}
@media (max-width:400px){
  #join-button{width: 200px; bottom: 145px}
  .navbar li:not(:last-child){margin-right: 10px;}
}




#toast {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #E7FEFE; /* Black background color */
  color: #715F58; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 15px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  right: 10%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#toast.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}





.blob {
	background: #277964;
	border-radius: 50%;
	margin-top: 5px;
  margin-left: 5px;
	height: 15px;
	width: 15px;
  display: inline-block;
	box-shadow: 0 0 0 0 rgba(39, 121, 100, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(39, 121, 100, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(39, 121, 100, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@keyframes button-hover {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.01);
  }
}

@keyframes button-unhover {
  0% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}